body
    background: #555
    margin:0

.container
    header
        background: orange
        height: 100px
        padding: 20px
        position: fixed
        width:100%

    footer
        background: orange
        height: 50px
        padding: 20px
        position: fixed
        bottom: 0
        width: 100%

    main
        padding-top: 140px
        height: 900px
        display:flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        align-content: stretch
        align-items: stretch


    .sidebar1
       width: 20%
       background: yellow


    .text
        width: 60%
        background: blue

    .sidebar2
         width: 20%
         background: yellow
